.about {
    padding: 80px 0;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
            @include font-size(50);
            color: $turquoise;
            padding: 10px;
            span {
                color: $orange;
                text-transform: uppercase;
            }
        }
        h4 {
            @include font-size(25);
            color: $turquoise;
            text-align: center;
            padding: 10px;
        }
    }
    .bio {
        width: 55%;
        min-width: 400px;
        padding: 1rem 0 10px 0;
        line-height: 1.8;
        font-size: 0.9rem;
        span {
            color: $purple;
        }
    }
    button {
        margin: 4rem 0;
        padding: 1rem;
        background-color: $orange;
        border: none;
        color: #fff;
        font-size: 0.9rem;
        transition: 0.8s all ease;
    }
    button:hover {
        background-color: $yellow;
        color: $background-color;
    }
    .skill-icons {
        color: $purple;
        width: 80%;
        margin: 1rem 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include font-size(50);
        transition: 0.5s all ease;
        i:hover {
            color: $yellow;
        }
    }
}