.contact {
    padding: 80px 0;
    .wrapper {
        flex-direction: column;
    }
    h3, h4 {
        width: 100%;
        text-align: center;
    }
    h3 {
        @include font-size(50);
        text-transform: uppercase;
        padding: 10px;
        color: $turquoise;
        span {
            color: $orange;
        }
    }
    h4 {
        @include font-size(25);
        padding: 10px;
        color: $turquoise;
    }
    .form-container {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
    .social {
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        color: $yellow;
        i {
            @include font-size(50);
            margin: 20px 0;
            color: $purple;
        }
    }
    .connect {
        width: 25%;
        color: $yellow;
    }
    form {
        width: 50%;
        input, textarea, button {
            width: 100%;
            padding: 10px;
            border: 2px solid $turquoise;
            background-color: $background-color;
            color: #fff;
        }
        input::placeholder, textarea::placeholder {
            color: #fff;
            opacity: 1;
        }
        button {
            width: 50%;
            margin: 1rem 0 0 0; 
            background-color: $turquoise;
            border: 2px solid $turquoise;
        }
        input[type=email] {
            margin: 1rem 0;
        }
        textarea {
            resize: none;
        }
    }
}