.contact {
    padding: 80px 0;
    .wrapper {
        flex-direction: column;
    }
    h3, h4 {
        width: 100%;
        text-align: center;
    }
    h3 {
        @include font-size(50);
        text-transform: uppercase;
        padding: 10px;
        color: $turquoise;
        span {
            color: $orange;
        }
    }
    h4 {
        @include font-size(25);
        padding: 10px;
        color: $turquoise;
    }
    .form-container {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
    .social {
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        color: $yellow;
        text-decoration: underline;
        i {
            @include font-size(50);
            margin: 1rem 0;
            color: $purple;
        }
        a:hover i, a:focus i {
            color: $turquoise;
        }
    }
    .connect {
        width: 25%;
        color: $yellow;
        display: flex;
        flex-direction: column;
        p.connect {
            margin: 0;
            text-decoration: underline;
        }
        p a {
            margin: 1.5rem 0;
            display: block;
            color: $orange;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
            &:focus {
                text-decoration: underline;
            }
        }

    }
    form {
        width: 50%;
        input, textarea, button {
            width: 100%;
            padding: 10px;
            border: 2px solid $yellow;
            background-color: $background-color;
            color: #fff;
        }
        input:focus, textarea:focus {
            border: 2px solid $orange;
        }
        input::placeholder, textarea::placeholder {
            color: #fff;
            opacity: 1;
        }
        button {
            width: 50%;
            margin: 1rem 0 0 0; 
            background-color: $turquoise;
            border: 2px solid $turquoise;
            transition: all 0.5s ease;
            a {
                text-decoration: none;
                color: #fff;
            }
        }
        button:hover, button:focus {
            background-color: $purple;
            border: 2px solid $purple;
        }
        input[type=email] {
            margin: 1rem 0;
        }
        textarea {
            resize: none;
        }
    }
}