.home {
    display: flex;
    position: relative;
    .home-text-container, .home-image-container {
        width: 50%;
    }
    .home-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 10px;
        div {
            margin: 100px 0;
        }
    }
    .home-image-container {
        width: 50%;
        img {
            width: 80%;
            margin: 100px 0;
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        background: linear-gradient(-200deg, transparent 60%, rgba(219, 119, 220, 0.2) 40%), linear-gradient(70deg, transparent 60%, rgba(16, 208, 183, 0.4) 40%), linear-gradient(to top left, transparent 25%, $yellow 25%, $yellow 45%, transparent 45%)
    }
    p {
        color: $turquoise;
        span {
            text-transform: uppercase;
            color: $orange;
        }
    }
    h1 {
        color: $yellow;
        padding: 1rem 0;
        span {
            color: $purple;
            @include font-size(50);
        }
    }
    h2 {
        color: $turquoise;
        padding: 1rem 0;
        span {
            color: $orange;
        }
    }
    h3 {
        color: $turquoise;
        span {
            color: $orange;
        }
    }
}