.home {
    display: flex;
    position: relative;
    .home-text-container, .home-image-container {
        width: 50%;
    }
    .home-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 10px;
        div {
            margin: 100px 0;
        }
    }
    .home-image-container {
        width: 50%;
        img {
            margin: 80px 0;
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        // z-index: 10;
        background: linear-gradient(to bottom right, transparent 60%, rgba(219, 119, 220, 0.4) 40%), linear-gradient(to top right, transparent 70%, rgba(16, 208, 183, 0.5) 70%);

        // background: linear-gradient(to bottom right, rgba(16, 208, 183, 0.3) 50%, rgba(219, 119, 220, 0.6) 50%);
    }
    p {
        color: $turquoise;
        span {
            text-transform: uppercase;
            color: $orange;
        }
    }
    h1 {
        color: $yellow;
        span {
            color: $purple;
        }
    }
    h2 {
        color: $turquoise;
        span {
            color: $orange;
        }
    }
    h3 {
        color: $turquoise;
        span {
            color: $orange;
        }
    }
}