@mixin font-size($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue / 20) * 1rem;
}

@mixin center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}