.work {
    padding: 80px 0;
    .wrapper {
        flex-direction: column;
    }
    h3 {
        @include font-size(50);
        color: $turquoise;
        padding: 10px;
        span {
            color: $orange;
            text-transform: uppercase;
        }
    }
    h4 {
        @include font-size(25);
        color: $turquoise;
        text-align: center;
        padding: 10px;
    }
    h5 {
        @include font-size(25);
        color: $purple;
    }
    .project {
        display: flex;
        justify-content: space-between;
        margin: 2rem 0;
        padding: 1rem;
    }
    .project-text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            line-height: 1.6;
        }
        span.italic {
            font-style: italic;
        }
        .skills {
            color: $orange;
        }
        a {
            color: #fff;
            &:hover {
                color: $yellow;
            }
            &:focus {
                color: $yellow;
            }
        }
    }
    .project-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 10%;
        a {
            padding: 1.5rem 1rem;
            background-color: $turquoise;
            color: $background-color;
            border: 2px solid $turquoise;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.9rem;
            transform: all 0.5s ease;
        }
        a:hover, a:focus {
            border: 2px solid $turquoise;
            background-color: $background-color;
            color: $turquoise;
        }
    }
    .project-image {
        width: 35%;
        position: relative;
        background-color: $yellow;
        overflow: hidden;
    }
    .screenshot-container {
        position: absolute;
        top: 29%;
        right: 18%;
        left: 18%;
        img {

        }
    }
    span.color {
        color: $yellow;
    }
}